.pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 160px; */
  background-color: #FFF3F0;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

@media only screen and (min-width: 1024px) {
  .pageHeader {
    margin-top: 160px;
  }
}