nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

span {
  font-family: 'Bungee', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}