nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #684A52;
  padding: 1.5em;
  background-color: #FFF3F0;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}
span {
  font-family: 'Bungee', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {

  nav {
    height: 120px;
    background-color: #684A52;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    background-image: none;
  }
}
