.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 160px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  border-style: none;
  background-color: #f4f1ec;
  border-bottom-style: solid;
  border-bottom-width: 7px;
  width: 100%;
  resize:none;
}

textarea:focus {
  outline: none;
}

.button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: flex;
  align-items: center;
  background-color: #684A52;
  color: white;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  border-color: #684A52;
  border-style: none;
}

.addColour {
  color: red;
}

.error-length {
  border: 1px solid red;
  color: red;
  display: none;
  padding: 5px;
}

.error-empty{
  border: 1px solid red;
  color: red;
  display: none;
  padding: 5px;
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 160px;
  }
}