.tweetsContainer {
  border: 4px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding: 10px;
}

.article {
  width: 100%;
}

.tweetHeader {
  display: flex;
  align-items: center;
}

.actualTweet {
  display: flex;
  justify-content: flex-start;
}

.tweetFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  border-top: 3px solid #545149;
}
