.tweetsContainer {
  border: 4px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding: 0 30px;
  margin: 30px 0;
}

.tweetsContainer:hover {
  box-shadow: 5px 10px #051f74;
}

.tweetsContainer:hover .userMention {
  color: #051f74;
  opacity: 1;
}

.article {
  width: 100%;
}

.userMention {
  opacity: 0;
}

.tweetHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.actualTweet {
  display: flex;
  justify-content: flex-start;
}

.tweetFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  border-top: 3px solid #545149;
}
